@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff5ec;
    padding: 5vh 5vw;
    text-align: center;
}

body * {
    font-family: Inter, Helvetica, sans-serif;
}

div.container-titulo {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    max-width: 60vw;
}

hr {
    border-color: #3D1E00;
    border-width: 3px;
    width: 80%;
}

#titulo-1 {
    color: #3D1E00;
    font-weight: 700;
    font-size: 48px;
}

section#aproveitar {
    color: white;
    align-content: center;
    background: white url("../images/fundo-main.png") no-repeat;
    background-size: cover;
    border-radius: 24px;
    padding: 0 300px;
    height: 735px;
    font-size: 30px;
    font-weight: 700;
}

#titulo-2 {
    font-weight: 800;
    font-size: 65px;
    color: #5B0B0B;
}

#container-grid {
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

#container-grid>div {
    width: 560px;
    height: 560px;
}

#div-1 {
    border-radius: 24px;
    font-size: 40px;
}

#div-1>p {
    font-size: 30px;
}

.laranja {
    background-color: #F45D01;
}

.botao {
    background-color: blue;
    color: white;
    padding: 25px;
    border-radius: 10px;
}